h1 {
    color: rgb(198, 126, 226);
    background-color: lightblue;
    border: 0px solid black;
    }
    p {
    color: red;
    }
body {
    background-color: lightblue;
    }
#home {
    width: 380px;
    height: 380px;
    background: url(https://i.pinimg.com/564x/5f/ab/d9/5fabd9267e75a483442e11ba2e0d730f.jpg) 0 0;
  }
